:root {
  /* Primary Colors */
  --clr--white: hsl(0, 0%, 99%);
  --clr--dark-cyan: hsl(185, 75%, 39%);
  --clr--very-dark-blue: hsl(229, 23%, 23%);
  --clr--dark-grayish-blue: hsl(227, 10%, 46%);

  /* Neutral Colors */
  --clr--dark-gray: hsl(227, 10%, 46%);

  /* Font Size */
  --fs--normal: 18px;

  /* Font Family */
  --ff--primary: "Kumbh Sans", sans-serif;

  /* Font Weight */
  --fw--regular: 400;
  --fw--bold: 700;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: var(--clr--dark-cyan);
  font-family: var(--ff--primary);
  font-weight: var(--fw--regular);
  font-size: var(--fs--normal);
  color: var(--clr--dark-grayish-blue);
}

.container {
  min-height: 100vh;
  display: grid;
  place-content: center;
  overflow: hidden;
  position: relative;
}

.top-bg {
  position: absolute;
  background: url("images/bg-pattern-top.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 978px;
  width: 978px;
  top: -500px;
}

.bottom-bg {
  position: absolute;
  background: url("images/bg-pattern-bottom.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 978px;
  width: 978px;
  right: -100px;
  bottom: -450px;
}

.card {
  position: relative;
  background-color: var(--clr--white);
  text-align: center;
  margin-inline: 1.5rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card__info {
  display: grid;
  justify-items: center;
}

.card__info img {
  width: 120px;
  height: 120px;
  border-radius: 120px;
  border: 5px solid var(--clr--white);
  margin-top: -18%;
}

.card__info_header,
.flex-group {
  padding: 1.5rem 2.5rem;
}

.card__info_header h1 {
  font-weight: var(--fw--bold);
  color: var(--clr--very-dark-blue);
}

.card__info_header h1 span {
  font-weight: var(--fw--regular);
  color: var(--clr--dark-grayish-blue);
  margin-left: 0.5rem;
}

.divider {
  width: 100%;
  border-top: 1px solid var(--clr--dark-gray);
  opacity: 0.2;
}

.flex-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.flex-group p {
  color: var(--clr--very-dark-blue);
  font-weight: var(--fw--bold);
}

.flex-group span {
  display: block;
  color: var(--clr--dark-grayish-blue);
  font-size: 10px;
  font-weight: var(--fw--regular);
  letter-spacing: 0.2rem;
}

/* Mobile Design */

@media only screen and (max-width: 500px) {
  .top-bg {
    height: 500px;
    width: 500px;
    top: -50px;
    left: -350px;
  }

  .bottom-bg {
    height: 500px;
    width: 500px;
    right: -270px;
    bottom: -150px;
  }
}
